#list {
    width:100%;
}
.fancylist {
    white-space:nowrap;
    position:relative;
    padding:3px;
    border-radius:5px;
    border-top:1px solid #ddd;
    margin-bottom:5px;
}
.fancylist > span {
    white-space:nowrap;
    display:inline-block;
    width:20%;
    width:calc(20% - 20px);
    min-width:85px;
    padding-right:0px;
    margin-right:10px;
}
/*.usern {
    min-width:95px;
}
.ema {
    padding-left:10px;
    min-width:150px;
}
.name {
    padding-left:10px;
    min-width:100px;
}
.phone {
    padding-left:10px;
}*/