.printpage {position:absolute;right:10px;top:12px;}
.ddns {position:absolute;right:115px;top:10px;}
.ddns select {padding:4px;font-size:14px;}
.ddns #type {position:absolute;right:180px;}
.ddns #team {position:absolute;right:0px;}
