@{Layout = null;}
<script>
    $(document).ready(function (e) {
        //Init
        $("#chk").css("display","block");
        /*$("#qu").tooltip({
            html: true,
            trigger: "hover click",
            title: "This will allow you to see your password to make sure you entered it correctly"
        });*/
        $("#FatherName").focus();
        $("#Phone").mask("(999) 999-9999");
        $(".date").mask("99/99/9999");
        if ($("#FatherName").is(":focus")) {
            $("#FatherName").removeAttr("placeholder")
            $(".phname[name='FatherName']").css("display", "block");
        }
        $("#show").click(function (e) {
            passchecked = true;
            $(this).is(':checked') ? $("#Password").attr("type", "text") : $("#Password").attr("type", "password");
        });
            //Placeholder functions
        $("input[placeholder]").each(function (e) {
            $(this).after("<div class='phname' name='" + $(this).attr("id") + "' style='display:none;'><span>" + $(this).attr("placeholder") + "</span></div>");
        });
        $("input[placeholder]").focus(function (e) {
            $(this).removeAttr("placeholder")
            $(".phname[name='" + $(this).attr("id") + "']").css("display", "block");
        });
        $("input[placeholder]").blur(function (e) {
            var obj = $(".phname[name='" + $(this).attr("id") + "'] span");
            
            $(this).attr("placeholder", obj.text())
            if ($(this).val() == "") {
                obj.parent().css("display", "none");
            }
        });

        //Submit
        var noemail = false;
        $(document).on("cancelsave", function () {
            $("#Object").css("display", "block");
            $("#submitting").css("display", "none");
        });
        $(document).on("saved", function () {
            //$.post("/Forum/formsauth/register", { "username": $("#Username").val(), "password": $("#Password").val(), "confirmPassword": $("#Password").val(), "email": $("#Email").val(), "agreeTerms": true }, function () {
            //window.location = "/Members/";
            //});
            $("#instructions").css("display", "none");
            $(".center-page form").remove();
            $(".holder").addClass("hide");
            if (!noemail) {
                $(".center-page").append("<div id='registration'>Before you can login, you must activate your account.<br/> An email with activation instructions has been sent to the email address you provided.</div>");
            }
            else {
                $(".center-page").append("<div id='registration'>The administrator will look over your application and be in contact soon.</div>");
            }
            $("#registration").css("display", "table-cell").css("float", "none").css("vertical-align","middle");
        });
        $(document).on("ajaxfault", function () {
            $("#Object").css("display", "block");
            $("#submitting").css("display", "none");
        });
        $("#registration").submit(function (e) {
            e.preventDefault();
            var str = getModel($(".Object"),"Object");
            $("#submitting").css("display", "block");
            $("#Object").css("display", "none");
            if ($("#Email").val() == "") {
                noemail = true;
            }
            else {
                noemail = false;
            }
            saveDataObject(str, "Object", "Registration", "Registration");
        });

        //(hopefully)Unobtrusive validation
        $("#Username").blur(Check);
        $("#Email").blur(Check);
        $("#Password").blur(Check);
        $("#Zipcode").blur(Check);
        $("#Phone").blur(Check);
        function Check() {
            var id = $(this).attr('id');
            if ($(this).val().length > 0) {
                $.post("/Home/Check" + id, { id: $(this).val() }, Checked);
            }
            else {
                $(this).tooltip('hide');
                $(this).removeClass("input-validation-error")
            }
        }
        function Checked(data) {
            var response = data;
            var id = data.slice(0, response.indexOf("-"));
            response = response.slice(response.indexOf("-") + 1, response.length);
            var obj = $("#" + id);
            if (response == "temp") {
                obj.addClass("input-validation-error")
                obj.addClass("check-error")
                obj.tooltip('destroy');
                obj.tooltip({
                    html: true,
                    trigger: "manual",
                    title: "This " + id + " already has an account associated with it, created by an admin. <a href=\"ReqLogin\">Request login information?</a>"
                });
                obj.tooltip("show");
            }
            else if (response == "taken") {
                obj.addClass("input-validation-error")
                obj.addClass("check-error")
                obj.tooltip('destroy');
                obj.tooltip({
                    html: true,
                    trigger: "manual",
                    title: "This " + id + " is already registered <a href=\"Login\">Login?</a>"
                });
                obj.tooltip("show");
            }
            else if (response == "nomatch") {
                obj.addClass("input-validation-error")
                obj.addClass("check-error")
                obj.tooltip('destroy');
                if (id == "Username") {
                    obj.tooltip({
                        html: true,
                        trigger: "manual",
                        title: "Username must be between 5-15 characters, with no special characters",
                    });
                } else if (id == "Password") {
                    obj.tooltip({
                        html: true,
                        trigger: "manual",
                        title: "Password must be between 5-15 characters"
                    });
                } else if (id == "Email") {
                    obj.tooltip({
                        html: true,
                        trigger: "manual",
                        title: "Please enter a valid email address"
                    });
                } else if (id == "Zipcode") {
                    obj.tooltip({
                        html: true,
                        trigger: "manual",
                        title: "Please enter a 5 digit zip code",
                        container: "#leftside"
                    });
                }
                obj.tooltip("show");
            }
            else {
                obj.tooltip('hide');
                obj.removeClass("check-error")
                obj.removeClass("input-validation-error")
            }
        }
        
    });
</script>