@{
    ViewBag.Title = "About Us";
}
<!--[if IE]>
	<style>
        #content{overflow:auto!important;}
    </style>
<![endif]-->

<div id="about">
    <h2>About Us</h2>
    <div id="top">
        <div id="left">
            <h3>Mission Statement</h3>
            Our mission is to support homeschool families in Kitsap County by providing 
            sports education and Christian character development through friendly athletic competition. <br /><br />
            <h3>Club Description </h3>
            We are a Christian homeschool organization, dedicated to developing positive attitudes in an encouraging environment. 
            &ensp;We are an all volunteer organization, with our coaching staff and board consisting of parents of participating players.<br /><br />  

            We currently offer three sports: soccer in the fall, basketball in the winter, and baseball in the spring.&ensp;
            Soccer and baseball practices and games are held at a local park in Port Orchard.&ensp;Basketball is held at a 
            middle school gymnasium in Port Orchard. <br /><br />

            For each sport, our players are assigned to a group determined by their age, and each age group is divided into 
            teams for practices and games.&ensp;We have one practice day and one game day each week, and each season runs for 10 weeks.  
            &ensp;At the end of the season, we hold an awards ceremony where each player receives an award for participation.
        </div>
        <div id="right">
        <div class="fees bi">
            <h3>Fees</h3>
            <div class="clmns">
                <span class="fst-1">Basketball:</span>      <span class="fst-2">$40.00</span><br />
                <span class="fst-1">Baseball:</span>        <span class="fst-2">$40.00</span><br />
                <span class="fst-1">Soccer:</span>          <span class="fst-2">$40.00</span><br />
                <span class="fst-1">Family Maximum:</span>  <span class="fst-2">$160.00</span><br />
                <span class="fst-1">Team Shirt:</span>      <span class="fst-2">$25.00</span>
            </div>
        </div>
        <div class="teams bi">
            <h3>Teams</h3>
            <div class="clmns">
                <span class="tmt-1">PeeWees</span>      <span class="tmt-2">6 - 7 years</span><br />
                <span class="tmt-1">Middlers</span>     <span class="tmt-2">8 - 9 years</span><br />
                <span class="tmt-1">Intermediates</span> <span class="tmt-2">10 - 11 years</span><br />
                <span class="tmt-1">Juniors</span>      <span class="tmt-2">12 - 13 years</span><br />
                <span class="tmt-1">Senior Boys</span>      <span class="tmt-2">14 - 18 years</span><br />
                <span class="tmt-1">Senior Girls</span>  <span class="tmt-2">14 - 18 years</span><br /><br />
            </div>
            Age is based on the last day of the season.
        </div>
    </div>
        
    </div>
    <br />
    <div class="clear"></div>
    <div class="clmnlg" style="width:100%;min-width:540px;">
        <h3>Board Members</h3>
        <div >
            <span class="bmt-1">President</span>                <span class="bmt-2">Tom Stephenson</span>   <span class="bmt-3"><a href="mailto:skhssc-president@outlook.com">skhssc-president@outlook.com</a></span><br />
            <span class="bmt-1">Secretary</span>                <span class="bmt-2">Leslie Bellomy</span>   <span class="bmt-3"><a href="mailto:skhssc-secretary@outlook.com">skhssc-secretary@outlook.com</a></span><br />
            <span class="bmt-1">Treasurer</span>                <span class="bmt-2">Tim Hoffsommer</span>   <span class="bmt-3"><a href="mailto:skhssc-treasurer@outlook.com">skhssc-treasurer@outlook.com</a></span><br />
            <span class="bmt-1">Sports Director</span>          <span class="bmt-2">Rocky Bellomy</span>    <span class="bmt-3"><a href="mailto:skhssc-sportsdirector@outlook.com">skhssc-sportsdirector@outlook.com</a></span><br />
            <span class="bmt-1">Equipment Manager</span>        <span class="bmt-2">Dallin Searle</span>    <span class="bmt-3"><a href="mailto:skhssc-equipmentmgr@outlook.com">skhssc-equipmentmgr@outlook.com</a></span><br />
            <span class="bmt-1">General Email</span>            <span class="bmt-2">&nbsp;</span>           <span class="bmt-3"><a href="mailto:skhomeschoolsports@outlook.com">skhomeschoolsports@outlook.com</a></span><br />
        </div>
    </div>
</div>