@{
    ViewBag.Title = "Account Registration";
    ViewBag.NoIndex = true;
}
<style type="text/css">
    .center-page {display:table;height:100%;margin:0 auto;}
    #center-inner {display:table-cell;vertical-align:middle;}
</style>
<div class="center-page">
    <div id="center-inner">
        Before you can login, you must activate your account.<br/> An email with activation instructions has been sent to the email address you provided.
    </div>
</div>
