@{
    ViewBag.Title = "PayPal Transaction Complete";
    ViewBag.NoIndex = true;
}
<script>
    $(document).ready(function () {
        window.setTimeout(function () {
            window.location = "/Members/Register";
        },4000)
    });
</script>
<span> Thank-you! :) As soon as we hear from paypal, your account will be activated!</span>