@model String
@{
    ViewBag.Title = "Reset Password";
    ViewBag.NoIndex = true;
}
<style>
    #small-page {height:0px;}
    form {max-width:1000px!important;}
    #email {margin:10px 0;width:200px;display:inline;}
    input[type="submit"] {margin-top:10px;}
</style>

<div id="small-page">
    <div id="small-page-inner">
        @if (ViewBag.Result != "s")
        {
            using (Html.BeginForm())
            {
                <h2>Reset Password</h2>
                <br />
                @: Enter the email you registered with, and we will send you a link with instructions to reset your password.<br />
                <input id="email" class="fncy-box" name="email" type="text" /> 
                if(ViewBag.Result == "f"||ViewBag.Result == "fe"){
                <span id="error" class="error">
                    <br />
                    @if(ViewBag.Result == "f"){
                        @: Sorry, that email is not registered.
                    }else if(ViewBag.Result == "fe"){
                        @: Uh oh, something went wrong, and we couldn't send the email. <a href="/Home/DevFeedback">Tell the developer</a>, I think he can fix it.
                    }
                </span>}<br />
                <input type="submit" class="fncybtn" value="Submit" />
            }
        }
        else
        {
            @: The email was sent! Check your inbox, it's probably in there, but just in case, check your spam folder. Sometimes these kind of emails can get stuck there. 
        }
    </div>
</div>