@{
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
    ViewBag.Title = "Blogger";
}
<h2>Blogger</h2>

<a class="fncybtn" href="https://www.blogger.com/" target="_blank">Go To Blogger --></a>
<br /><br />
<pre>
Instructions: 
</pre>
Tags:<br /><Br />
<table class="tags">
<tr><td><b>Tag</b></td><td>Use</td></tr>
<tr><td><b>main</b></td><td>Posts to front page news.</td></tr>
<tr><td><b>events</b></td><td>Posts to seasonal events.</td></tr>
<tr><td><b>calendar</b></td><td>Posts to yearly events.</td></tr>
</table>