/* Member Main Content
-----------------------------------------------------------------------------*/
#content
{
    padding:0;
}
#membercontent
{
    margin-left:154px;
    padding:15px 10px 0 11px;
    font-family: "Cambria";
    font-size: 14px;
    position:relative;
    min-height:400px;
    height:100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /*Hack*/
    -webkit-transform:translateZ(0);
}

/* Member Menu
-----------------------------------------------------------------------------*/
#membermenu {position:relative;overflow:hidden;box-sizing:border-box;-moz-box-sizing:border-box;height:100%;min-height:400px;background:#c1c1c1;border:2px solid #656565;font-family:Calibri, sans-serif;font-size:20px;font-weight:700;float:left;margin:0;padding:0;}
#membermenu ul  {list-style:none;width:150px;margin:0;padding:0;}
#membermenu li  {float:left;position:relative;width:150px;border-bottom:1px solid gray;margin:0;padding:0;}
#membermenu li:last-child   {border-bottom:0;}
#membermenu li a    {min-height:30px;user-select:none;-moz-user-select:none;-webkit-user-select:none;background:#959595;color:#fff;display:block;font-weight:400;line-height:35px;text-align:center;text-decoration:none;margin:0;padding:0 5px;}
#membermenu li a img { display:none; width:30px;padding:3px 0; }
#membermenu li.disabled:hover    {cursor:default;}
#membermenu li.disabled a    {position:relative;cursor:default;color:#ccc;text-decoration:line-through;}
/*#membermenu li.disabled a span:after    {display:block;position:absolute;top:-10px;right:2px;content:url("../../Content/comingsoon.png");}*/
#membermenu li a:hover{background:#0D69A6;color:#fff;text-decoration:none;box-shadow:inset 0 0 8px rgba(10,10,10,0.5);}
#membermenu li.disabled a:hover    {position:relative;cursor:default;color:#ccc;text-decoration:line-through;}
#membermenu ul li:hover {cursor:pointer;}
#membermenu ul a:active {cursor:pointer;box-shadow:inset 0 0 20px rgba(10,10,10,.8);}
#membermenu li.thick{border-bottom:2px solid #656565;}
/* Role Specific Menu
-----------------------------------------------------------------------------*/
#rolemenu{position:absolute;bottom:0;}
@media screen and (max-width: 750px) {
    #membermenu ul,#membermenu li {width:110px;}
    #membercontent {margin-left:114px;}
}
@media screen and (max-width: 575px) {
    #membermenu ul,#membermenu li {width:105px;}
    #membermenu li a {padding:0 2px;}
    #membercontent {margin-left:105px;}
}
@media screen and (max-width: 460px) {
    #membermenu ul,#membermenu li {
        width:40px;
    }
    /*#membermenu li a {
        height:35px;
    }*/
    /*#membermenu li a span {
        display:none;
    }*/
    
    /*#membermenu li a img { display:block; }*/
    #dissy {display:none;}
    #middle {height:auto;}
    #membermenu {position:absolute;left:-44px;left:-100%;transition:all .1s linear;z-index:100;border-top:none;border-left-width:1px;}
    #navigation {width:calc(100% - 42px)!important; float:right;}
    #membercontent {margin-left:0px;}
    #membermenu li a span {font-size:15px;line-height:15px;}
    #membermenu li a {line-height:30px;min-height:30px;}
    #membermenu ul,#membermenu li {width:100px;}
    #membermenu li.wide a span {font-size:13px;line-height:13px;}
}
