@{
    Layout = null;
}
<div class="lightbox act fancylist hide">
    <div class="fncybtn fl-end close">Close</div>
    <div class="Object" id="actbox">
        <h2>Create New Account</h2>
        <div class="row">
            <div class="box box-12">
                <input type="text" class="Phone fncy-box req" placeholder="Phone" />
            </div>
        </div>
        <div class="row">
            <div class="box box-12 email">
                <input type="text" class="Email fncy-box" placeholder="Email" />
            </div>
        </div>
        <div class="Parent">
        <div class="row">
            <div class="box box-6">
                <input type="text" class="FatherName fncy-box" placeholder="Father's First Name" />
            </div>
            <div class="box box-6">
                <input type="text" class="MotherName fncy-box" placeholder="Mother's First Name" />
            </div>
        </div>
        <div class="row">
            <div class="box box-12">
                <input type="text" class="LastName fncy-box req" placeholder="Family Name" />
            </div>
        </div>
        <div class="row">
            <div class="box box-12">
                <input type="text" class="Address fncy-box req" placeholder="Address" />
            </div>
        </div>
        <div class="row">
            <div class="box box-8">
                <input type="text" class="City fncy-box req" placeholder="City" />
            </div>
            <div class="box box-4">
                <input type="text" class="Zipcode fncy-box req" placeholder="Zipcode" />
            </div>
        </div>
        </div>
        <div class="submitcont">
            <img class="submitting hide fl-end" src="/Content/loading2.gif" />
            <div class="fncybtn fl-end actsub">Save</div>
        </div>
    </div>
</div>
