@{
    ViewBag.Title = "Data";
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
    ViewBag.Script1 = "jquery.autosize.input.js";
    ViewBag.SaveData = true;
}
<h2 class="showi fl-start">Data</h2>
<div class="pagemenu">
    <select class="datas fl-end">
        <option value="UserLogins">UserLogins</option>
        <option value="Parents">Parents</option>
        <option value="Orders">Orders</option>
        <option value="Payments">Payments</option>
        <option value="Children">Children</option>
        <option value="Teammates">Teammates</option>
        <option value="Teams">Teams</option>
        <option value="Coaches">Coaches</option>
    </select>
</div>
<div class="clear"></div>
<hr />
<img alt="loading" class="preloading" src="/Content/loading2.gif" />
<div class="data">

</div>
