@{
    Layout = "~/Views/Shared/_MembersLayout.cshtml";
    ViewBag.Title = "Ideas";
}

<h2>Ideas</h2>

1. Make all names clickable for me to go straight to their data. <br /><br />

1.5. Page(or on data page) with <span style="color:red;">RED</span> to show where data errors are.<br /><br />

1.75. Make Data/Users/Registrations into pages of 50/100 and such.

2. Make modules to default data & fill in manual/default data <br /><br />

3. Idea to fix database errors: <span style="color:blue;">static</span> Database db{<span style="color:blue;">if</span>(_db == <span style="color:blue;">null</span>) _db = <span style="color:blue;">new</span> Database()}<br />
    <span style="color:blue;margin-left:175px;">void</span> Close(){ _db = <span style="color:blue;">null</span>;}<br /><br />

4. Catch errors so that the website doesn't explode so much.

<br /><br /><br /><br /><br /><br />
SMALLER AND EASIER:

1. Make error page not go entirely up when I click hide.